$primary-color: #0E6CFF;
$white-color: white;
$secondary-color: #FF8700;


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}